* {
  box-sizing: border-box;
}

.page_with_form {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header .MuiToolbar-root {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
}

.Wrapper {
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.ProductsFromAPI .Category,
.ProductsFromAPI .Sort {
  width: 20rem;
}

.ProductsFromAPI .currentProductsAPI {
  margin-top: 1.51rem;
}

.ProductsFromAPI .MuiCardMedia-root {
  width: auto !important;
  margin: 2.09rem auto;
}

.ProductsFromAPI .MuiGrid-root.MuiGrid-item {
  /* padding-left: 16px; */
  display: flex;
  justify-content: center;
}

.ProductsFromAPI .currentProductsAPI .MuiPaper-root.MuiPaper-elevation {
  width: 100%;
}

.ProductsFromAPI h6 {
  height: 6rem;
  overflow: hidden;
}

.ProductDetails img {
  width: auto;
  margin: 0 auto;
}